@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

pre {
  max-width: 600px;
  /* margin: 0 auto; */
  overflow-x: auto;

  background-color: #111827;
  padding: 0.75rem;
  border-radius: 5px;
}

::-webkit-scrollbar {
  height: .5rem;
  width: .5rem
}

::-webkit-scrollbar:horizontal {
  height: .5rem;
  width: .5rem
}

::-webkit-scrollbar-track {
  background-color: rgb(75 85 99);
  border-radius: 9999px
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgb(39, 50, 66);
  border-color: rgb(75 85 99);
  border-radius: 9999px;
  border-width: 1px;
}

:-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236,236,241,var(--tw-bg-opacity))
}
